/* Container style */
.col-md-6 {
    margin: auto;
    position: absolute;
    margin-top: 100px;
    text-align: center;
   
}

/* Timer style */
.timer {
    font-size: 20 px;
    font-weight: bold;
}

